{{> welcome }}
<p class="fortune" id="fortune">Some close friends could turn you on to a new interest or perhaps a group you might want to join.
 Intellectual stimulation through those closest to you could open the way to new plans and innovations. 
 You might want to try combining artistic interests with technology, perhaps expanding your knowledge of photography, computer graphics, or filmmaking. 
Success and good fortune through such activities are strongly indicated. </p>
{{> fortune }}