{{> welcome }}
<p class="fortune" id="fortune">Unexpected money developments could brighten your day today. 
Perhaps you will get a raise or an increase in some other form of income. 
Technology could be involved in some way, or a long-term goal you've been striving for finally brings in some benefits. 
There might be uncertainty about when it's coming or exactly how much it will be, but the outcome will be gratifying all the same!</p>
{{> fortune }}