{{> welcome }}
<p class="fortune" id="fortune">Your body will be speaking to you in some way today so tune in and listen! 
Maybe a few glasses of water will slow you down long enough to notice what your body is trying to tell you. 
It's a good idea anyway to drink water throughout the day, thirsty or not. 
Without the benefit of water and exercise it is hard to know what you are feeling and how to communicate with those you love. 
Make things easier on yourself! </p>
{{> fortune }}