{{> welcome }}
<p class="fortune" id="fortune">Short journeys in your neighborhood, perhaps connected with a group you're associated with, could take up a lot of your time today. 
Fascinating and stimulating emails or calls could arrive. Books and magazine articles could provide information that sends you in a new direction in some way. 
Write down your ideas! You will want to remember them all.</p>
{{> fortune }}