{{> welcome }}
<p class="fortune" id="fortune">A surprising revelation, either from within or from sources like books, the Internet, or communications from others could set you in an entirely new direction. 
You will have an increased sense of freedom, as well as a clearer and more progressive outlook. 
You might consider some pretty heavy changes in your life, but don't make any final decisions or arrangements today.
Wait before putting your ideas into action. </p>
{{> fortune }}