{{> welcome }}
<p class="fortune" id="fortune">Technology could pave the way for you to greatly increase your income, possibly through new skills or investments. 
This is likely to be a very positive development, setting the stage for future financial success. 
Some unusual, interesting dreams could come your way, bringing unexpected revelations about you and your past - and possibly your future. 
Write them down! They could hold important messages for you from your higher self. </p>
{{> fortune }}