{{> welcome }}
<p class="fortune" id="fortune">Sudden lucky breaks could come your way today, possibly through friends or groups with which you're involved. 
A long-term goal you've been working toward might bring unexpected but wonderful results. Virtual group activities, 
particularly those involving social or political issues, could take up a lot of your time.
This promises to be a busy, productive day. Expect the unexpected! </p>
{{> fortune }}