{{> welcome }}
<p class="fortune" id="fortune">You have never been one to abandon a course once set out on, 
however, you must get used to the little detours life shows us along the way! 
Rather than looking at these detours as setbacks, consider them as curves in the road that were too subtle to be realized when you were starting out. 
Have faith that you're still on the path! </p>
{{> fortune }}