{{> welcome }}
<p class="fortune" id="fortune">Is your workplace upgrading its equipment? Are you in the process of increasing your technology skills? 
Today's planets show that success and advancement through technology are definitely in the offing for you. 
If you've been thinking about purchasing a computer, do it today if you can.
 Whatever your goals, you can harness current innovations to help them along. Give it some thought! </p>
 {{> fortune }}